<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp_TARpv23.Properties.Settings.WindowsFormsApp_TARpv23ConnectionString"
            connectionString="Data Source=HP-CZC2349HTD;Initial Catalog=WindowsFormsApp_TARpv23;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp_TARpv23.Properties.Settings.WindowsFormsApp_TARpv23ConnectionString1"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=WindowsFormsApp_TARpv23;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>